<p>Feel free to contact university staff or project administrators with any questions using the methods below.</p>
<h1>How to reach LUT administration?</h1>

    <p>  
        In the staff section you can find all university employees registered in the SCHEDU system. 
        Under each name, you will find an email address to which you can write to contact the given tutor.
    </p>
    <p>
        If you do not know who to contact or need to talk about general university issues, you can contact the secretary's office. 
        <br/>
        Below are the contact details:
    </p>
    <p>
      <strong>
          Katedra Informatyki
          <br/>
          Politechnika Lubelska
        </strong>
        <br/>
        ul. Nadbystrzycka 36B
        <br/>
        20-618 Lublin
        <br/>
        
        <i class="fas fa-phone-alt"></i> +48 81 538 43 49
        <br/> 
        
        <i class="fas fa-at"></i> inst-inf@pollub.pl
        <br/>
        <i class="fas fa-link"></i>&nbsp;<a href="https://cs.pollub.pl/">Home page of the Department of Computer Science</a>
    </p>
<h1>How to reach SCHEDU administration?</h1>
    <p>
        Project administration is available to everyone at the following e-mail address:
    </p>
    <p>
        <i class="fas fa-at"></i> xlpnsk@gmail.com
    </p>
    <p>
        Additionally, you can use the following links to contact the creator of the project:
    </p>
    <p>
        <i class="fab fa-linkedin"></i>&nbsp;<a href="https://www.linkedin.com/in/adam-lipi%C5%84ski-278283171/">LinkedIn</a>
        <br/>
        <i class="fab fa-github"></i>&nbsp;<a href="https://github.com/xlpnsk">GitHub</a>
        <br/>
        <i class="fas fa-link"></i>&nbsp;<a href="https://read.cv/xlpnsk">CV</a>
    </p>
    <p>
      <strong>Attention!</strong> University employees can also contact administrators using the form in the account management panel
    </p>
    <br/>
    <br/>
    <br/>
    <br/>