<div class="welcome">
    <div class="welcome-text">
        <h2>Welcome to <h1>SCHEDU</h1> - your planning assistant</h2>
    </div>
</div>

<h3>What would u like to do?</h3>

<section class="card-container">
    <article class="card">
        <a href="#" routerLink="/staff">
            <header class="card-header">
                <p>I want to find my tutor</p>
                <h2>
                    Staff
                </h2>
            </header>
        </a>
    </article>

    <article class="card">
        <a href="#" [routerLink]="['/schedule']">
            <header class="card-header">
                <p>I want to check schedules</p>
                <h2>
                    Schedules
                </h2>
            </header>
        </a>
    </article>

    <article class="card">
        <a href="#">
            <header class="card-header">
                <p>I want to know what can I find here</p>
                <h2>
                    Activity types
                </h2>
            </header>
        </a>
    </article>

    <article class="card">
        <a href="#" routerLink="/info">
            <header class="card-header">
                <p>I want to learn more about this project</p>
                <h2>
                    About project
                </h2>
            </header>
        </a>
    </article>
</section>

<section class="card-container">
    <article class="card">
        <a href="#">
            <header class="card-header">
                <p>I want to manage my account</p>
                <h2>
                    Account
                </h2>
            </header>
        </a>
    </article>
</section>

<footer class="foot">
    <div class="foot-content">
        <h2>This project was created for LUT - Lublin University of Technology</h2>
        <img height="40" width="40" src="../../assets/9577_logo,PL,2017.jpg">
        <h4><span>&#64; 2021 - Lipiński Adam</span></h4>
    </div>
</footer>

<!-- <span class="image image-colorize">
    <div style="height: 100px; width: 100px; overflow: hidden;">
    <img src="https://s3.eu-west-2.amazonaws.com/luxurylondon.co.uk-storage-bucket-001/images/articles-body/589/angkor-wat-cambodia.jpg" class="article-image"/>
    </div>
</span>

<style>

    .image {
        display: block;
        height: auto;
    }

    .image {
        width: 100%;
        overflow: hidden;
    }
    .image-colorize img {
        transition: transform .5s, filter 0.5s ease-in-out;
        filter: grayscale(100%);
    }

    .image-colorize:hover img {
        filter: grayscale(0);
        transform: scale(1.1);
    }

</style> -->