<p>Everything you need to know about SCHEDU.</p>

<h1>What is SCHEDU for students?</h1>
    <p>
      SCHEDU is a page where you can find all the necessary information about the plans of your university lecturers. 
      If you want to know when your tutor has consultations or when the diploma seminars are held with him, you can find all these and other information here.     
    </p>

<h1>What is SCHEDU for university employees?</h1>
    <p>
      University employees can create an account (only when the administrator adds them to the system). 
      After registration, the employee is given the opportunity to save all their planned tasks so that students can know on what days and hours they can expect a given employee at the university.
      Saving planned tasks is helpful not only for students but also for the employees themselves.
      Such action improves the organization and allows for better time management.
    </p>
    <p>
      <strong>At SCHEDU we believe that our system will facilitate the work of every person associated with the university and will make planning tasks easier.</strong>
    </p>

<h1>How can I use SCHEDU? (as a student)</h1>
    <p>
      You will find several sections in the navigation bar.
      <br/> 
      The first one, entitled <i class="fas fa-address-book fa-primary"></i> "Staff", 
      will allow you to see the full list of registered university employees along with contact details. 
      Click on any name to go directly to the <i class="fas fa-calendar-alt fa-primary"></i> "Schedules" section of a given employee.
      <br/> 
      In this section you can check all the tasks of the university employee in a given week, 
      as well as those that will take place in the future. 
      Click on any task to view detailed information about it.
      <br/>
      The next section is <i class="fas fa-paper-plane fa-primary"></i> "Contact". 
      There you will find information on how to contact the university or system administrators.
      <br/>
      The last section, <i class="fas fa-info-circle fa-primary"></i> "About project", 
      is the one you are currently on. 
      You will here find all information about the system itself and how to use it.
    </p>
    <p>
      The <i class="fas fa-user fa-secondary"></i> "Account" section is intended only for university employees.
    </p>

<h1>How can I use SCHEDU? (as a university employee)</h1>
    <p>
      Apart from the sections described above, 
      university employees have access to the <i class="fas fa-user fa-secondary"></i> "Account" section.
      There are options for adding new tasks, viewing added tasks, managing the account, as well as contacting administrators.
    </p>
    <p>
      <strong>Attention!</strong> 
      If you are an employee of the university, contact the administrator using the e-mail address provided in the <i class="fas fa-paper-plane fa-primary"></i> "Contact" section that you want to join SCHEDU. 
      Only persons registered by the administrator can create an account in the system!
    </p>

<h1>How was SCHEDU created?</h1>
    <p>
      SCHEDU is a web application written in TypeScript using the Angular framework.
      The services offered by Supabase were used as the back-end of the application, 
      and the entire visual template of the website was created using CSS language standards 
      and publicly available libraries such as Angular Material or Font Awsome.
    </p>
    <p>
      If you have any questions regarding the practical issues of building the system, 
      feel free to contact the creator of SCHEDU using the data provided at the end of the <i class="fas fa-paper-plane fa-primary"></i> "Contact" section.
    </p>
    <br/>
    <br/>
    <br/>
    <br/>