<section class="welcome-header">
    <h2>Welcome</h2>
    <h3>{{userEmail}}</h3>
</section>
<div class="main-container">
    <div class="cards-container">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Manage your account</mat-card-title>
              </mat-card-header>
              <mat-card-content>  
            <button mat-raised-button color="accent" routerLink="/password">Change your password</button>  
            <button mat-raised-button color="warn" (click)="signOut()">Sign out</button>
        </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Manage your tasks</mat-card-title>
              </mat-card-header>
              <mat-card-content>  
              <button mat-raised-button class="add-task-btn" [routerLink]="['/account/task']">New task</button>
              <button mat-raised-button routerLink="/account/tasks">Task list</button>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Tasks for this week</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <header><h3>Today we have: {{today.toUTCString().slice(0,-12)}}</h3></header>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource.length!=0">
                
                  <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                  </ng-container>
                
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                  </ng-container>
                
                  <ng-container matColumnDef="day">
                    <th mat-header-cell *matHeaderCellDef> On </th>
                    <td mat-cell *matCellDef="let element"> {{getDay(element.day)}} </td>
                  </ng-container>
                
                  <ng-container matColumnDef="duration">
                    <th mat-header-cell *matHeaderCellDef> Duration </th>
                    <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
                  </ng-container>
                
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
        </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Contact with the administrator</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <form [formGroup]="messageFormGroup"></form>
                <mat-form-field appearance="fill">
                    <mat-label>Your message</mat-label>
                    <textarea matInput [formControl]="messageFormControl"></textarea>
                  </mat-form-field>  
                <button mat-raised-button [disabled]="messageFormGroup.invalid.valueOf()" (click)="sendMessage()">Send</button>
              </mat-card-content> 
        </mat-card>
    </div>
</div>