<nav class="navbar">
    <nav class="navbar">
        <ul class="navbar-nav">
          <li class="logo">
            <a href="#" class="nav-link" routerLink="/">
              <span class="link-text logo-text">Schedu</span>
              <img height="50" width="50" src="http://www.pollub.pl/files/31/attachment/9577_logo,PL,2017.jpg">
            </a>
          </li>
    
          <li class="nav-item">
            <a href="#" class="nav-link" routerLink="/staff">
            <i class="fas fa-address-book fa-primary"></i>
              <span class="link-text link-text-an">Staff</span>
            </a>
          </li>
    
          <li class="nav-item">
            <a href="#" class="nav-link" [routerLink]="['/schedule']">
                <i class="fas fa-calendar-alt fa-primary"></i>
              <span class="link-text link-text-an">Schedules</span>
            </a>
          </li>
    
          <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-chalkboard-teacher fa-primary"></i>
              <span class="link-text link-text-an">Activity types</span>
            </a>
          </li>
    
          <li class="nav-item">
            <a href="#" class="nav-link" routerLink="/info">
                <i class="fas fa-info-circle fa-primary"></i>
              <span class="link-text link-text-an">About project</span>
            </a>
          </li>
    
          <li class="nav-item" id="accountButton">
            <a href="#" class="nav-link">
                <i class="fas fa-user fa-secondary"></i>
              <span class="link-text link-text-an">Account</span>
            </a>
          </li>
        </ul>
      </nav>