<div class="main-container">
    <div class="form-container">
        <h2>Change your password</h2>
  <form class="form" [formGroup]="newPasswdForm">    
      <mat-form-field appearance="fill">
          <mat-label>Enter your new password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [formControl]="newPasswd" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="newPasswd.invalid">{{getPasswdErrorMessage()}}</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Confirm your new password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [formControl]="reNewPasswd" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="reNewPasswd.invalid">{{getRePasswdErrorMessage()}}</mat-error>
        </mat-form-field>  
  
        <button mat-raised-button color="primary" [disabled]="newPasswdForm.invalid.valueOf()">Save changes</button>
  </form>
  <button mat-button color="primary" routerLink="/account">Back</button>
  </div>
  </div>