
<section class="mini-form">
  <mat-form-field appearance="fill" class="form-field">
      <mat-label>Staff member</mat-label>
      <mat-select [(value)]="selected">
        <mat-option [value]="null"></mat-option>
        <mat-option *ngFor="let staff of staffList" [value]="staff.id.toString()">
          {{staff.title}} {{staff.firstName}} {{staff.lastName}}
        </mat-option>
      </mat-select>
  </mat-form-field>
  
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker" disabled>
      <input matStartDate placeholder="Start date" [(ngModel)]="weekStart">
      <input matEndDate placeholder="End date" [(ngModel)]="weekStop">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker disabled="false"></mat-date-range-picker>
  </mat-form-field>
</section>

<div class="cal-container" *ngIf="selected!='' && selected!=null">
        <app-time></app-time>
      <ng-template ngFor let-j="index" let-day [ngForOf]="days">
        <app-day [tasks]="getTasksForDay(day)" [staff]="getStaffMember()"></app-day>
      </ng-template>
</div>
