.cal-container{
    display: grid;
    grid-template-columns: minmax(40px,50px) repeat(5,minmax(50px,1fr));
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
}

.mini-form{
    width: 100%;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    padding-top: 2rem;
}

.form-field{
    width: 20rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.cal-header{
    text-align: center;
    font-weight: bolder;
    padding-bottom: 4px;
    padding-top: 1px;
    background-color:var(--bg-primary);
}

.cal-header-container{
    position: sticky;
    top: 0;
    z-index: auto;
    color: white;
    margin-top: 2rem;
    margin-bottom: 3px;
}

/* Small screens */
@media only screen and (max-width: 600px) {
    .cal-container:not(:first-of-type){
        padding-bottom: 5rem;
        overflow-x: auto;
    }

    .cal-header{
        font-size: xx-small;
        padding-bottom: 2px;
    }

    .cal-header-container{
        top:4rem;
    }

}